@page
@model DetailsModel

<h2>team Details</h2>

<div>
    <h4>team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">team ID</dt>
        <dd class="col-sm-10">@Model.team.teamid</dd>

        <dt class="col-sm-2">team Name</dt>
        <dd class="col-sm-10">@Model.team.teamname</dd>

        <dt class="col-sm-2">City</dt>
        <dd class="col-sm-10">@Model.team.city</dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.team.teamid" class="btn btn-warning">Edit</a> 
    <form method="post" asp-page="./Delete" asp-route-id="@Model.team.teamid" style="display:inline;">
        <button type="submit" class="btn btn-danger">Delete</button> 
    </form>
    <a href="javascript:void(0);" onclick="showNewAlert()" class="btn btn-primary">New</a> 
    <a asp-page="/Teams/Index" class="btn btn-secondary">Back to List</a> 
</div>

<script>
    function showNewAlert() {
        alert("Please click 'New' on the homepage.");
    }
</script>
